#!/usr/bin/env bash

set -e

echo "Setting up GPG..."

if hash gpg 2>/dev/null; then
    echo "gpg already installed."
else
    echo "Installing gpg..."
    brew install gpg
fi

if hash pinentry-mac 2>/dev/null; then
    echo "pinentry-mac already installed."
else
    echo "Installing pinentry-mac..."
    brew install pinentry-mac
fi

echo "Importing GPG key..."
echo "{{ output "cat" "../../../../icloud/Configurations/gpg/private.gpg" | trim}}" | gpg --batch --import
echo "{{ output "cat" "../../../../icloud/Configurations/gpg/ownertrust" | trim}}" | gpg --import-ownertrust

gpgconf --kill gpg-agent
