#!/usr/bin/env bash

set -e

DOTFILES_PRIVATE_PATH="{{- .chezmoi.homedir }}/grit/github.com/danilvpetrov/dotfiles-private"
DOTFILES_PRIVATE_REPO="git@github.com:danilvpetrov/dotfiles-private.git"
DOTFILES_BRANCH="main"

if [[ -d "$DOTFILES_PRIVATE_PATH" ]]; then
    echo "Pulling private dotfiles..."
    pushd "$DOTFILES_PRIVATE_PATH" > /dev/null
    git pull --ff-only
    popd > /dev/null
else
    echo "Cloning private dotfiles..."
    git clone \
        --branch "$DOTFILES_BRANCH" \
        --single-branch "$DOTFILES_PRIVATE_REPO" \
        "$DOTFILES_PRIVATE_PATH"
fi

if [[ -e "{{- .chezmoi.homedir }}/dotfiles-private" ]]; then
    echo "Private dotfiles shortcut directory already exists."
else
    ln -s "$DOTFILES_PRIVATE_PATH" "{{- .chezmoi.homedir }}/dotfiles-private"
fi
