#!/usr/bin/env bash

set -e

echo "Setting up SSH..."

PRIVKEY="/.ssh/id_rsa"
PUBKEY="{{- .chezmoi.homedir }}/.ssh/id_rsa.pub"

echo "Adding SSH passphrase to keychain..."
cat "$PRIVKEY" | DISPLAY= SSH_ASKPASS="{{- (onepassword "id_rsa").details.notesPlain -}}" ssh-add -K

if [ "$PUBKEY" -ot "$PRIVKEY" ]; then
    echo "Generating public SSH key from private key..."
    ssh-keygen -P "{{- (onepassword "id_rsa").details.notesPlain -}}" -yf "$PRIVKEY" > "$PUBKEY.tmp"
    mv "$PUBKEY.tmp" "$PUBKEY"
    chmod 0644 "$PUBKEY"
fi

DOTFILES_PUBLIC_PATH="{{- .chezmoi.homedir }}/grit/github.com/danilvpetrov/dotfiles"
DOTFILES_PUBLIC_REPO="github.com/danilvpetrov/dotfiles"

pushd "$DOTFILES_PUBLIC_PATH" > /dev/null
if git remote get-url origin | grep "https://" > /dev/null; then
    echo "Switching dotfiles repo use SSH..."
    git remote set-url origin "git@github.com:$DOTFILES_PUBLIC_REPO.git"
fi
popd > /dev/null
