#!/usr/bin/env bash

set -e

echo "Setting up SSH..."

PRIVKEY="{{- .chezmoi.homeDir }}/.ssh/id_rsa"
PUBKEY="{{- .chezmoi.homeDir }}/.ssh/id_rsa.pub"
pwd="{{- (onepasswordItemFields "id_rsa").passphrase.value -}}"

tmpfile=$(mktemp)
chmod +x "$tmpfile"

>"$tmpfile" cat <<EOS
#!/usr/bin/env bash

echo "${pwd}"
EOS

echo "Adding SSH passphrase to keychain..."
# See for the explanation of the command below: https://stackoverflow.com/a/38356798
DISPLAY= SSH_ASKPASS="$tmpfile" ssh-add --apple-use-keychain "$PRIVKEY" < /dev/null

rm "$tmpfile"

if [ "$PUBKEY" -ot "$PRIVKEY" ]; then
    echo "Generating public SSH key from private key..."
    ssh-keygen -P "${pwd}" -yf "$PRIVKEY" > "$PUBKEY.tmp"
    mv "$PUBKEY.tmp" "$PUBKEY"
    chmod 0644 "$PUBKEY"
fi

DOTFILES_PUBLIC_PATH="{{- .chezmoi.homeDir }}/grit/github.com/danilvpetrov/dotfiles"
DOTFILES_PUBLIC_REPO_SLUG="danilvpetrov/dotfiles"

pushd "$DOTFILES_PUBLIC_PATH" > /dev/null
if git remote get-url origin | grep "https://" > /dev/null; then
    echo "Switching dotfiles repo to use SSH..."
    git remote set-url origin "git@github.com:$DOTFILES_PUBLIC_REPO_SLUG.git"
fi
popd > /dev/null
