autoload -Uz compinit && compinit
autoload -Uz bashcompinit && bashcompinit

setopt clobber # allow output redirection to clobber existing files
unsetopt autocd
unsetopt correct
ulimit -n 8192 # set shell's open file handle limit

# import the core functions
source "{{- .chezmoi.homeDir }}/.functions.zsh"

# import the private functions
source-if-exists "{{- .chezmoi.homeDir }}/.functions.extra.zsh"

# User configuration
export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Enable autosuggestions
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=#757575'
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)

# Enable fast syntax highlighting
source /opt/homebrew/opt/zsh-fast-syntax-highlighting/share/zsh-fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh

# Remove certain characters from WORDCHARS
WORDCHARS=${WORDCHARS//[&.;=\/]}

source "/opt/homebrew/opt/spaceship/spaceship.zsh"
SPACESHIP_PROMPT_SEPARATE_LINE=false

eval "$(grit shell-integration)"
eval "$(direnv hook zsh)"

# Add all key-chain SSH identities on the login
ssh-add --apple-load-keychain 2>/dev/null

# add path overrides for homebrew binaries
export PATH="/opt/homebrew/opt/curl/bin:$PATH"
export PATH="/opt/homebrew/bin:$PATH"
export PATH="/opt/homebrew/opt/node@16/bin:$PATH"
export PATH="/opt/homebrew/opt/openssl@3/bin:$PATH"
export PATH="/opt/homebrew/opt/coreutils/libexec/gnubin:$PATH"
export PATH="/opt/homebrew/opt/make/libexec/gnubin:$PATH"

# instructs pinentry app where to prompt for password
export GPG_TTY=$(tty)

# define aliases
alias e='code .'
alias d='docker'
alias m='make'
alias g='git'

alias less='less -R'
alias grep='grep --color'

alias top='top -F -o cpu -O vsize'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias iplocal="ipconfig getifaddr en0"
alias network.connections='lsof -l -i +L -R -V'
alias network.established='lsof -l -i +L -R -V | grep ESTABLISHED'
alias ls='ls -lh --color --group-directories-first'
alias la='ls -lha --color --group-directories-first'
