# Ensure that a non-login, non-interactive shell has a defined environment.
if [[ ( "$SHLVL" -eq 1 && ! -o LOGIN ) && -s "${ZDOTDIR:-$HOME}/.zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprofile"
fi

if [[ $SHLVL = 1 ]]; then
  # import the core functions
  source "{{- .chezmoi.homedir }}/.functions.zsh"

  # Golang-related environment variables
  export GOPATH="{{- .chezmoi.homedir }}/go"
  export GOPROXY="direct"
  export GOSUMDB="off"

  # local bin and GOBIN path
  export PATH="{{- .chezmoi.homedir }}/bin:$PATH"
  export PATH="$GOPATH/bin:$PATH"

  # export less flags
  export LESS="--quit-if-one-screen --hilite-search --hilite-unread --ignore-case --LONG-PROMPT --RAW-CONTROL-CHARS --chop-long-lines  --window=-4"

  GITHUB_TOKEN={{ (onepassword "Github Token").details.password }}
  HOMEBREW_GITHUB_API_TOKEN={{ (onepassword "Github Token").details.password }}

  # load private environment variables
  source-if-exists "{{- .chezmoi.homedir }}/.zshenv.private"
fi
