autoload -Uz compinit && compinit
autoload -Uz bashcompinit && bashcompinit

setopt clobber # allow output redirection to clobber existing files
unsetopt autocd
unsetopt correct
ulimit -n 8192 # set shell's open file handle limit

# import the core functions
source "{{- .chezmoi.homeDir }}/.functions.zsh"

# import the private functions
source-if-exists "{{- .chezmoi.homeDir }}/.functions.extra.zsh"

if [[ -r "${XDG_CACHE_HOME:-{{- .chezmoi.homeDir }}/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-{{- .chezmoi.homeDir }}/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

export ZSH="{{- .chezmoi.homeDir }}/.oh-my-zsh"
ZSH_THEME="powerlevel10k/powerlevel10k"
plugins=(macos git docker kubectl gpg-agent)

source $ZSH/oh-my-zsh.sh

# User configuration
export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Enable autosuggestions
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# Fix slowness of pastes with zsh-syntax-highlighting.zsh
pasteinit() {
  OLD_SELF_INSERT=${${(s.:.)widgets[self-insert]}[2,3]}
  zle -N self-insert url-quote-magic # I wonder if you'd need `.url-quote-magic`?
}
pastefinish() {
  zle -N self-insert $OLD_SELF_INSERT
}
zstyle :bracketed-paste-magic paste-init pasteinit
zstyle :bracketed-paste-magic paste-finish pastefinish

# Enable fast syntax highlighting
source /opt/homebrew/opt/zsh-fast-syntax-highlighting/share/zsh-fast-syntax-highlighting/fast-syntax-highlighting.plugin.zsh

# Enable iTerm2 shell integration
source-if-exists "{{- .chezmoi.homeDir }}/.iterm2_shell_integration.zsh"

eval "$(grit shell-integration)"

# Add all key-chain SSH identities on the login
ssh-add --apple-load-keychain 2>/dev/null

# add path overrides for homebrew binaries
export PATH="/opt/homebrew/opt/curl/bin:$PATH"
export PATH="/opt/homebrew/bin:$PATH"
export PATH="/opt/homebrew/opt/node@16/bin:$PATH"
export PATH="/opt/homebrew/opt/openssl@3/bin:$PATH"

# instructs pinentry app where to prompt for password
export GPG_TTY=$(tty)

# define aliases
alias e='code .'
alias h='hive'
alias d='docker'
alias m='make'
alias g='git'

alias less='less -R'
alias grep='grep --color'

alias top='top -F -o cpu -O vsize'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias iplocal="ipconfig getifaddr en0"
alias network.connections='lsof -l -i +L -R -V'
alias network.established='lsof -l -i +L -R -V | grep ESTABLISHED'

{{- if eq .chezmoi.os "darwin" }}
alias ls='ls -lhG'
alias la='ls -lhGa'
{{- else }}
alias ls='ls -lh --color --group-directories-first'
alias la='ls -lha --color --group-directories-first'
{{- end }}
