# Ensure that a non-login, non-interactive shell has a defined environment.
if [[ ( "$SHLVL" -eq 1 && ! -o LOGIN ) && -s "${ZDOTDIR:-$HOME}/.zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprofile"
fi

if [[ $SHLVL = 1 ]]; then
  # import the core functions
  source "{{- .chezmoi.homeDir }}/.functions.zsh"

  # Golang-related environment variables
  export GOPATH="{{- .chezmoi.homeDir }}/go"
  export GOPROXY="direct"
  export PATH="$GOPATH/bin:$PATH"

  # add path for user binaries
  export PATH="{{- .chezmoi.homeDir }}/bin:$PATH"

  # export less flags
  export LESS="--quit-if-one-screen --hilite-search --hilite-unread --ignore-case --LONG-PROMPT --RAW-CONTROL-CHARS --chop-long-lines  --window=-4"

  export GITHUB_TOKEN={{ (onepasswordDetailsFields "Github Token").password.value }}
  export HOMEBREW_GITHUB_API_TOKEN={{ (onepasswordDetailsFields "Github Token").password.value }}

  # load extra environment variables
  source-if-exists "{{- .chezmoi.homeDir }}/.zshenv.extra"
fi
