# Ensure that a non-login, non-interactive shell has a defined environment.
if [[ ( "$SHLVL" -eq 1 && ! -o LOGIN ) && -s "${ZDOTDIR:-$HOME}/.zprofile" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprofile"
fi

if [[ $SHLVL = 1 ]]; then
  # import the core functions
  source "{{- .chezmoi.homeDir }}/.functions.zsh"

  # Golang-related environment variables
  export GOPATH="{{- .chezmoi.homeDir }}/go"
  export GOPROXY="direct"

  # add paths
  export PATH="/opt/homebrew/bin:$PATH"
  export PATH="{{- .chezmoi.homeDir }}/bin:$PATH"
  export PATH="$GOPATH/bin:$PATH"
  export PATH="/opt/homebrew/opt/node@16/bin:$PATH"

  # export less flags
  export LESS="--quit-if-one-screen --hilite-search --hilite-unread --ignore-case --LONG-PROMPT --RAW-CONTROL-CHARS --chop-long-lines  --window=-4"

  GITHUB_TOKEN={{ (onepassword "Github Token").details.password }}
  HOMEBREW_GITHUB_API_TOKEN={{ (onepassword "Github Token").details.password }}

  # load private environment variables
  source-if-exists "{{- .chezmoi.homeDir }}/.zshenv.private"
fi
