#!/usr/bin/env bash

set -e

{{- if eq .chezmoi.os "darwin" }}

echo "Installing packages..."

# install whatever we can without failing.
brew bundle --no-lock --file="{{ .chezmoi.sourceDir }}/Brewfile" || true

{{- end }}
