#!/usr/bin/env bash

set -e

{{- if eq .chezmoi.os "darwin" }}

echo "Configuring shell..."

if [[ "/usr/local/bin/zsh" == "$SHELL" ]]; then
  echo "Brew zsh is already the current shell."
else
  if grep -Fxq /opt/homebrew/bin/zsh /etc/shells; then
    echo "Brew zsh is already a standard shell."
  else
    echo "Adding brew zsh as a standard shell..."
    sudo sh -c 'echo /opt/homebrew/bin/zsh > /etc/shells'
  fi

  echo "Setting brew zsh as the current shell..."
  chsh -s /opt/homebrew/bin/zsh

  # Fix insecure directories in zsh if any
  # See https://github.com/zsh-users/zsh-completions/issues/433 for details.
  chmod -R go-w '/opt/homebrew/bin/zsh'
fi

# Set up Touch ID for terminal authorizations

# Create sudo_local from template
sudo cp /etc/pam.d/sudo_local.template /etc/pam.d/sudo_local
# Backup sudo_local then remove '#' at line 3
sudo sed -i '.bak' '3s/#//' "/etc/pam.d/sudo_local"

{{- end }}
